# Maven / Build
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Java
*.class
hs_err_pid*

# Environment / credentials
src/main/resources/application.properties

# Others
dump/
